/* navbar styling */





.navbar {
  justify-content: center;
  background-color: lightgray;
}

.navlogo {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

@media (max-width: 441px) {
  .navlogo {
    font-size: 25px;
    color: black;
  }
}

.headerimage {
  width: 100%;
}

hr {
  height: 5px;
  background: lightgray;
  width: 17%;
  position: absolute;
  left: 15px;
}

.categoryhandfree {
  margin-top: 2px;
}

@media (max-width: 767px) {
  .categorycharger {
    margin-top: 8px;
  }

  .categoryhandfree {
    margin-top: 8px;
  }

  .categoryothers {
    margin-top: 8px;
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1d212478;
  height: 100%;
  width: 95%;
  opacity: 0;
  transition: 0.5s ease;
}

.ctr {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 30%;
}

.imghov:hover .overlay {
  opacity: 1;
}

.overlay2 {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #1d212478;
  height: 100%;
  width: 95%;
  opacity: 0;
  transition: 0.5s ease;
}

.ctr2 {
  position: absolute;
  transform: translate(-50%, -50%);
  padding-top: 13%;
  padding-left: 35%;
}

.imghov2:hover .overlay2 {
  opacity: 1;
}

@media (max-width: 1199px) {
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #1d212478;
    height: 100%;
    width: 94%;
    opacity: 0;
    transition: 0.5s ease;
  }

  .overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #1d212478;
    height: 100%;
    width: 94%;
    opacity: 0;
    transition: 0.5s ease;
  }
}

@media (max-width: 991px) {
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #1d212478;
    height: 100%;
    width: 93%;
    opacity: 0;
    transition: 0.5s ease;
  }

  .overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #1d212478;
    height: 100%;
    width: 93%;
    opacity: 0;
    transition: 0.5s ease;
  }

  .ctr {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 30%;
  }

  .ctr2 {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-top: 13%;
    padding-left: 29%;
  }
}

@media (max-width: 767px) {
  .ctr2 {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-top: 13%;
    padding-left: 36%;
  }
}

@media (max-width: 451px) {
  .ctr2 {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-top: 13%;
    padding-left: 34%;
  }
}

@media (max-width: 413px) {
  .ctr2 {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-top: 13%;
    padding-left: 32%;
  }
}

@media (max-width: 342px) {
  .ctr2 {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-top: 13%;
    padding-left: 28%;
  }
}

.footer{
  background-color:lightgray;
  padding: 10px;

}




.copyright{
  margin-top: 10px;
}




/* phone brand css */





.brandrow{
  justify-content: space-evenly;



}


.brandboxsize2{
  height: 250px;
}


.lastrowbrand{
  justify-content: space-between;
}



@media (max-width:767px)

{

  .imgsize{
    width: 100%;
    margin-top: 8px;
  }

  
}


@media (max-width:1446px)
{
  .imgsize{
   
    margin-top: 8px;
  }
  
}



.overlaybrand{

  position: absolute;
  left:50%;
  top: 50%;
  background-color:  #1d212478;;

  height: 100%;
  width: 90%;
  

  margin-top: 4px;

  opacity: 0;

  
  

  
}

.overlaybrandctr{
  position: absolute;
  transform: translate(-50%, -50%);
  padding-top: 85px;
  text-align: center;
}

.brandhover:hover .overlaybrand{
  opacity: 1;
}



@media (max-width:1199px)
{
  .overlaybrandctr{
    
    padding-top: 60px;
    
  }
}


@media (max-width:991px)
{
  .overlaybrand{
    width:82%;
  }

  .overlaybrandctr{
    padding-top: 40px;
  }
}


@media (max-width:759px)
{
  .overlaybrand{
    width: 95%;
  }

  .overlaybrandctr{
    padding-top: 170px;
  }
}


@media (max-width:759px)
{
  .overlaybrandctr{
    padding-top: 150px;
  }
}


@media (max-width:416px)
{
  .overlaybrandctr{
    padding-top: 120px;
  }
}


@media (max-width:362px)
{
  .overlaybrandctr{
    padding-top: 100px;
  }
}



.btn{
  background-color: black;
  color: white;
}

.specs{
  margin-top: 15px;
}


@media(max-width:991px)
{
  .specs{
    text-align: center;
  }

  .marginphone{
    margin-top: 50px;
  }
}